# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.venv/

# Build artifacts
build/
dist/

# Host runners
backends/littlefs_host/wear_littlefs
*.o

# Zephyr build directories
backends/zephyr_native/build_*
backends/zephyr_native/build
